body {
    align-content: center;
    text-align: center;
}

#new-item {
    width: 16rem;
    border: 1px solid lightgray;
    padding: 3px;
    border-radius: 4px;
    display: inline-block;
}

#new-item form {
    display: inline;
}

.filter {
    width: 16rem;
    display: inline-block;
}

.card {
    width: 16rem;
    padding: 5px;
    display: inline-block;
    align-content: center;
    text-align: center;
}
