#new-item {
    width: 16rem;
    border: 1px solid lightgray;
    padding: 3px;
    border-radius: 4px;
    display: inline-block;
}

.filter {
    width: 16rem;
    display: inline-block;
}

.card {
    width: 16rem;
    padding: 5px;
    display: inline-block;
    align-content: center;
    text-align: center;
}

@media only screen and (min-width: 32rem){
    #new-item {
        height: 100vh;
        float: left;
    }
}

@media only screen and (max-width: 32rem){
    body {
        align-content: center;
        text-align: center;
    }
}
