<!doctype html>
<html>
    <head>
        <title>{{thing.name}}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    </head>
    <body>
        {% if state=="updated" %}
        <div class="alert alert-success" role="alert">
            Successfully updated {{thing.name}}
        </div>
        {% elif state=="failed" %}
        <div class="alert alert-failure" role="alert">
            Unable to {{op}} {{thing.name}}
        </div>
        {% endif %}
        <form method="POST" action="/{{thing._id}}">
            <input type="hidden" name="_method" value="PATCH" >
            <input type="text" name="name" value="{{thing.name}}" placeholder="name">
            <input type="text" name="location" value="{{thing.location}}" placeholder="location" >
            <input type="text" name="notes" value="{{thing.notes}}" placeholder="notes" >
            <button type="submit" class="btn btn-primary">Update</button>
        </form>
        <form method="POST" action="/{{thing._id}}">
            <input type="hidden" name="_method" value="DELETE" >
            <button type="submit" class="btn btn-primary" >Delete {{thing.name}}</button>
        </form>
        <a href="/" class="btn btn-primary" role="button" >Go Home</a>
    </body>
</html>
