<!doctype html>
<html>
    <head>
        <title>{{thing.name}}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    </head>
    <body>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% if state=="updated" %}
        <div class="alert alert-success" role="alert">
            Successfully updated {{thing.name}}
        </div>
        {% elif state=="failed" %}
        <div class="alert alert-failure" role="alert">
            Unable to {{op}} {{thing.name}}
        </div>
        {% endif %}
        <form method="POST" action="/{{thing._id}}">
            <input type="hidden" name="_method" value="PATCH" >
            <input class="form-control" type="text" name="name" value="{{thing.name}}" placeholder="name">
            <select class="form-control" name="location">
                {% for id,name in locations.items() %}
                <option value="{{id}}"
                        {%if ''~id == ''~thing.location%}selected="selected"{%endif%}
                >
                    {{name}}
                </option>
                {% endfor %}
            </select>
            <input class="form-control" type="text" name="notes" value="{{thing.notes}}" placeholder="notes" >
            <button type="submit" class="btn btn-primary">Update</button>
        </form>
        <form method="POST" action="/{{thing._id}}">
            <input type="hidden" name="_method" value="DELETE" >
            <button type="submit" class="btn btn-primary" >Delete {{thing.name}}</button>
        </form>
        <a href="/" class="btn btn-primary" role="button" >Go Home</a>
        <a href="/scan" class="btn btn-primary" role="button" >Scanner</a>
    </body>
</html>
